venv/
checkpoints/*
data/*
!data/**/README.md
.tmp
variables.sh

task_arithmetic_datasets/
task_arithmetic_datasets_2/*
__pycache__/

# Ignore all .pt files
*.pt

# Ignore all .pth files
*.pth

*.json